@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
}

h4 {
    font-weight: 500;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.app {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    height: calc(100vh - 100px);
    width: calc(100% - 100px);
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightslategray;
}

.description {
    font-weight: 700;
    font-size: 2rem;
}

.bottom {
    max-height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    box-sizing: border-box;
    flex-basis: auto;
}

.bottom > .image {
    width: 10rem;
    height: 10rem;
}

.temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainTemp {
    font-size: 8rem;
    font-weight: 300;
}

.tempMinMax {
    display: flex;
    gap: 0.3rem;
    color: slategray;
    font-weight: 500;
}

.indicators {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.7rem;
}

.indicator {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
