@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.app{
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    width: calc(100% - 100px);
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightslategray;
}

.description{
    font-weight: 700;
    font-size: 2rem;
}